<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>22247490513-r6u5sjh29k9ia72s2ichkia935l2n24n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22247490513-r6u5sjh29k9ia72s2ichkia935l2n24n</string>
	<key>API_KEY</key>
	<string>AIzaSyDSw8ch5FSWMjsKT5Q2jB3kD_Y4ykGCeXw</string>
	<key>GCM_SENDER_ID</key>
	<string>22247490513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WotDat.WhoDat</string>
	<key>PROJECT_ID</key>
	<string>whodat-9a5d5</string>
	<key>STORAGE_BUCKET</key>
	<string>whodat-9a5d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:22247490513:ios:448ee95eca68b43a</string>
	<key>DATABASE_URL</key>
	<string>https://whodat-9a5d5.firebaseio.com</string>
</dict>
</plist>